<div class="modal fade" id="ModalPrivacyPolicy">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Privacy Policy
          </h4>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
  
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="font-weight: bold;">AKSYON KAAGAPAY KABARANGAY: A COMPLAINT MANAGEMENT SYSTEM</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
  
              <ul>
                <li>
                  <p>
                    AKSYON KAAGAPAY KABARANGAY: A COMPLAINT MANAGEMENT SYSTEM (hereinafter referred to as “the Company”)  values and respects your right to privacy. We are committed to protect the privacy of our website visitors. We will only collect, record, store, process, and use your personal information in accordance with the Data Privacy Act of 2012, its Implementing Rules and Regulations, the issuances by the National Privacy Commission, and other pertinent laws.
                  </p>  
                </li>
                <li>
                  <p>
                    This Privacy Policy informs you of updates in our corporate policies regarding the collection, use, storage, disclosure, and disposal of personal information we receive and collect from our customers, and any individual who communicates, raises inquiries and concerns, as well as transacts with us through our authorized representatives. 
                    We will only use your data based on the limitations set by this policy. The outline below provides the manner by which we manage the personal information that we will obtain from you if you visit our website.
                  </p>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="font-weight: bold;">Personal Information</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <ul>
                <li>
                  <p>
                    Personal Information refers to any information, whether recorded in a material form or not, from which the identity of an individual is apparent or can be reasonably and directly ascertained by the entity holding the information, or when put together with other information would directly and certainly identify an individual. Sensitive Personal Information is any attribute of your personal information that can discriminate, qualify, or classify you such as your age, date of birth, marital status, government-issued identification numbers, account numbers, and financial information. Privileged Information is any and all forms of information which, under the Rules of Court and other pertinent laws, constitute privileged communication.
                  </p>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="font-weight: bold;">Under the Data Privacy Act of 2012, you have the following rights:</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <ul>
                <li>
                  <p>
                    Right to be informed – you may request the details as to how your personal information is being processed or have been processed by the Company, including the existence of automated decision-making and profiling systems; 
                  </p>
                </li>
                <li>
                  <p>
                    Right to access – upon written request, you may demand reasonable access to your personal information, which may include the contents of your processed personal information, the manner of processing, sources where they were obtained, recipients and reason of disclosure; 
                  </p>
                </li>
                <li>
                  <p>
                    Right to dispute – you may dispute inaccuracy or error in your personal information in the Company systems through our contact center representatives;
                  </p> 
                </li>
                <li>
                  <p>
                    Right to object – you may suspend, withdraw, and remove your personal information in certain further processing, upon demand, which include your right to opt-out to any commercial communication or advertising purposes from the Company; 
                  </p>
                </li>
                <li>
                  <p>
                    Right to data erasure – based on reasonable grounds, you have the right to suspend, withdraw or order the blocking, removal or destruction of your personal data from the Company’s filing system;
                  </p>
                </li>
                <li>
                  <p>
                    Right to secure data portability – you have the right to obtain from the Company your personal information in an electronic or structured format that is commonly used and allows for further use;
                  </p>
                </li>
                <li>
                  <p>
                    Right to be indemnified for damages – as data subject, you have every right to be indemnified for any damages sustained due to such violation of your right to privacy through inaccurate, false, unlawfully obtained or unauthorized use of your information; and 
                  </p>
                </li>
                <li>
                  <p>
                    Right to file a complaint – you may file your complaint or any concerns with our legal compliance division: legalcompliance@incorp.ph
                  </p>
                </li>
              </ul> 
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="font-weight: bold;">Collection of Personal Information</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
             <ul>
              <li>
                <p>
                  We collect the following categories of Personal Data about Site visitors, clients, prospective clients, and other third parties:
                </p>
              </li>
              <li>
                <p>
                  Device data: Computer Internet Protocol (IP) address, unique device identifier (UDID), cookies and other data linked to a device, and data about usage of our website (Usage Data)
                </p>
              </li>
              <li>
                <p>
                  Basic and Client Service data: Name, gender, title, organization, job responsibilities, customers, phone number, mailing address, email address, and contact details;
                  
                  Social Media data: Pictures, gender, date of birth, relationship status, interests and hobbies, educational background, and employment details, or any other matters which are readily accessible if you link your account with our website;
                </p> 
              </li>
              <li>
                <p>
                  Registration and Marketing data: Newsletter requests, event/seminar registrations, subscriptions, data about participation in conferences, seminars, credentials, associations, product interests and preferences; 
                </p>
              </li>
              <li>
                <p>    
                  Transaction data: Personal data contained in documents, correspondence or other material provided by or relating to transactions conducted with or by our clients/prospective clients. 
                </p>
              </li>
              <li>
                <p>
                  Compliance data: Government identifiers, passports or other identification documents, dates of birth, beneficial ownership data, and due diligence data;
                </p>
              </li>
              <li>
                <p>
                  Job applicant data: Data provided by job applicants or others on our website or offline means in connection with employment opportunities, which also may be subject to an additional relevant local recruitment privacy policy.
                </p>
              </li>
              <li>
                <p>
                  We will only collect your personal information if you voluntarily submit the information to us. If you choose not to submit your personal information to us or subsequently withdraw your consent to our use of your personal information, we may not be able to adequately respond to your inquiries or avail of our services.
                </p>
              </li>
              <li>
                <p>
                  When we receive data from our clients about employees, customers or other individuals, the client is responsible for ensuring that any such data is transferred to us in compliance with applicable data protection laws.
                </p>
              </li>
             </ul>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="font-weight: bold;">Use of Personal Data</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <h6 style="font-weight: bold;">The purposes for which we use Personal Data are as follows:</h6>
              <ul>
                <li>
                  <p>
                    To provide consultation advice and respond to inquiries. For this, we use basic and client service data, transaction, and device data.
                  </p>
                </li>
                <li>
                  <p>
                    To manage our business operations, the website, and our client relationships. For this, we use basic and client service data, registration data, and marketing data.
                  </p>
                </li>
                <li>
                  <p>
                    To make our Site intuitive and easy to use. For this, we use device data. It is necessary for our legitimate interests to monitor how our Site is used to help us improve the layout and information available on our website and provide a better service to our website users.
                  </p>
                </li>
                <li>
                  <p>
                    To protect the security and effective functioning of our website and information technology systems. For this, we use basic and client service data, registration data, transaction data, and device data. It is necessary for our legitimate interests to monitor how our website is used to detect and prevent fraud, other crimes and the misuse of our website. This helps us to ensure that you can safely use our website.
                  </p>
                </li>
                <li>
                  <p>
                    To provide relevant marketing, such as providing you with information about events or services that may be of interest to you including services, updates, client conferences or networking events, and groups of specific interest. For this, we use registration and marketing data, basic and client service data, as well as device data. It is necessary for our legitimate interests to process this information in order to provide you with tailored and relevant marketing, updates and invitations. 
                  </p>
                </li>
                <li>
                  <p>
                    To address compliance and legal obligations, such as complying with the Firm’s reporting obligations, checking the identity of new clients and to prevent money laundering and/or fraud. For this, we use compliance data, basic and client service data, registration data, transaction data, and device data. 
                  </p>
                </li>
                <li>
                  <p>
                    To consider individuals for employment and contractor opportunities and manage on-boarding procedures. For this, we use job applicant data and compliance data. The processing is necessary for the purposes of recruitment and on-boarding and for complying with legal obligations to which we are subject, and which may be subject to a relevant local recruitment privacy policy.
                  </p>
                </li>
                <li>
                  <p>       
                    If you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the permission given to us. Your privacy settings can be used to limit the publication of your information on our website and can be adjusted using privacy controls on the website. We will not, without your express consent, supply your personal information to any third party for the purpose of their or any other third party’s direct marketing.
                  </p>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="font-weight: bold;">Sharing of Personal Data</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <h6 style="font-weight: bold;">The purposes for which we use Personal Data are as follows:</h6>
              <ul>
                <li>
                  <p>We may share Personal Data with the following categories and recipients:</p>
                </li>
                <li>
                  <p>
                    Affiliates and Service Providers: If requested and/or approved by the client or prospective client, we will share personal data with our trusted affiliate companies and service providers in order to provide you with adequate services in relation to our business and those of our affiliates and service providers.
                  </p>
                </li>
                <li>
                  <p>
                    Financial institutions: We may share Personal Data with financial institutions in connection with invoicing and payments.
                  </p>
                </li>
                <li>
                  <p>
                    Mandatory disclosures and Legal Claims: We share Personal Data in order to comply with the Company’s tax reporting obligations, comply with any subpoena, court order or other legal process, to comply with a request from regulators, governmental request or any other legally enforceable demand. We also share Personal Data to establish or protect our legal rights, property, or safety, or the rights, property, or safety of others, or to defend against legal claims.
                  </p>
                </li>
                <li>
  
                  <h6>Data Retention and Disposal</h6>
                  <p>       
                    We typically retain Personal Data related to marketing activities for as long as you accept marketing communications from us, and we will securely delete such data in accordance with applicable laws upon request. For Personal Data that we collect and process for other purposes, we will typically retain such Personal Data for as long as it is necessary to fulfill the purposes outlined in the Privacy Policy, Cookies Policy, as well as the Terms of Use.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="agree" class="btn btn-primary">Agree to Policy Privacy</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>