{% extends 'base/base.html' %}

{% block title %}
    Add Purok
{% endblock %}


{% block body_header %}
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Add Purok</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Add Purok</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Add Purok</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form action="/add_purok/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="purok_name">Purok Name</label>
            <input type="text" class="form-control" name="purok_name" id="purok_name" placeholder="Enter Purok Name">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success" id="submit_purok" value="Save">
          </div>
        </form>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock %}